.column {
    min-height: 500px;
    border-bottom: 1px solid #e9e9e9;
}

.portlet {
    margin-bottom: 5px;
}

.portlet-header {
    position: relative;
}

.panel-heading > h3 {
    color: #8C1D40;
    text-align: center;
}

.panel-heading, .panel-body {
    padding: 7px;
}

.portlet-placeholder {
    border: 1px dotted black;
    margin: 2px;
    margin-bottom: 5px;
    height: 50px;
}