@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);

body {
    padding-top: 50px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.navbar {
	font-size: 16px;
	font-weight: bold;
	background-color: #353535;
}

#brand {
	font-size: 24px;
}

#brand,
#navbar a {
	color: #EDEDED; /* white */
	transition: all 0.3s ease-in-out 0s;
}

#navbar .active {
	background-color: #000000;
}

#navbar a:hover,
#navbar .active > a {
	color: #FFB204; /* ASU gold */
}

.content {
    padding: 40px 15px;
    text-align: center;
}
