@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);

body {
    padding-top:50px;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.content {
    padding: 40px 15px;
    text-align: center;
}
