@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700,700italic,900);

html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 100%;
    min-width: 850px;
}

h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 24px; }
h4 { font-size: 21px; }
h5 { font-size: 16px; font-weight: 700; }
h6 { font-size: 16px; font-style: italic; }

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    padding: 50px 0 220px 0; /* top >= height of navbar, bottom >= footer height */
}

.navbar {
    font-size: 16px;
    font-weight: bold;
    background-color: #353535;
}

/* bootstrap style mods begin */
.btn-primary {
    background-color: #a30046;
    border: 1px solid transparent;
}

.btn-primary:hover {
    background-color: #d13252;
    border: 1px solid transparent;
}

.btn-gold {
    color: #2a2a2a;
    background-color: #ffc425;
}

.btn-gold:hover {
    background-color: #ffcf54;
}

/* asu secondary color */
.progress-bar-success { background-color: #78be20; }
.progress-bar-info { background-color: #00a3e0; }
.progress-bar-warning { background-color: #ff7f32; }
/* bootstrap style mods end */

#hero {
    height: 270px;
}

#brand, #brand-center {
    font-size: 24px;
    font-weight: 100;
}

#brand, #brand-center,
#navbar a {
    color: #EDEDED; /* white */
    transition: all 0.3s ease-in-out 0s;
}

#navbar .active {
    background-color: #000000;
}

#navbar a:hover,
#navbar .active > a {
    color: #FFB204; /* ASU gold */
    background-color: #000000;
}

.content {
    padding: 40px 15px;
}

.navbar * a, #sidebar * a, .btn,
.navbar * a:hover, #sidebar * a:hover, .btn:hover,
.fa, .glyphicon, .fa:hover, .glyphicon:hover {
    border-bottom: 0;
}

a, a:hover,
button, button:hover {
    text-decoration: none;
    transition: all 0.25s ease-in-out 0s;
}

a {
    border-bottom: 1px dotted #A30046;
    color: #A30046;
}

a:hover {
    border-bottom: 1px dotted #D23153;
    color: #D23153;
}

.center-image {
  display: flex;
  justify-content: center;
  width: 100%;
}

.profile-image {
  padding-top: 0px;
  padding-bottom: 0px;
}

.profile-image > img {
  position: relative;
  top: -5px;
  float: left;
  left: -5px;
  width: 2em;
  height: 2em;
}

nav * .dropdown-menu,
.dropdown > a {
  color: #EDEDED;
  background-color: #353535 !important;
}

.dropdown li > a:hover {
  background-color: #000000 !important;
}

.abcRioButton {
    box-shadow: none !important;
}

/*
 ------------------------------------------------------------------------------------------
                                      Splash Page
 ------------------------------------------------------------------------------------------
 */

#brand-center {
    position: absolute;
    width: 100%;
    text-align: center;
}

a.btn {
    transition: all 0.3s ease-in-out 0s;
}

#hero * h1 {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    color: #FFFFFF !important;
    font-weight: 900 !important;
    font-size: 60px !important;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#hero * h3 {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    color: #FFFFFF !important;
    font-weight: 900 !important;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#hero * .glyphicon {
    color: #FFC627;
}

/*
 ------------------------------------------------------------------------------------------
                                      Footer
 ------------------------------------------------------------------------------------------
 */

footer {
    background-color: #353535;
    width: 100%;
    min-height: 170px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #FFFFFF;
    z-index: 100;
    padding: 20px 0 20px 0;
    font-weight: 300;
}

footer a {
    color: #A9A9A9;
    border-bottom: 1px dotted #A9A9A9;
}

footer h2 {
    font-size: 21px !important;
    color: #FFFFFF;
}

/*
 ------------------------------------------------------------------------------------------
                                      Overview Page
 ------------------------------------------------------------------------------------------
 */

.grant-content * .progress-bar-success:hover { background-color: #5cb85c; }
.grant-content * .progress-bar-info:hover { background-color: #5bc0de; }
.grant-content * .progress-bar-warning:hover { background-color: #f0ad4e; }

.vert-panels {
    margin-top: 50px;
    padding-left: 23px;
    padding-right: 30px;
}

.panel-tabs > div {
    padding-right: 0;
}

/* when using this class, child must be div for borders*/
.tab-top { border-top: 8px solid #a30046; padding: 0; }
.tab-top > div {
    border-left: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    padding: 7px 15px;
}

.tab-left { border-left: 8px solid #a30046; padding: 0; }
.tab-left > div {
    border: 1px solid #e9e9e9;
    border-left: 0;
    padding: 15px 15px 15px 0;
    overflow: auto;
}

.grant-panel {
    display: block;
    margin-bottom: 5px;
}

.grant-info {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 11.7%;
    text-overflow: ellipsis;
    padding-left: 2%;
}

.grant-info > a {
    border-bottom: 1px dotted #A30046;
}

.grant-content, .panel-tabs {
    float: right;
    display: inline-block;
    width: 88%;
}

.grant-content > div {
    padding-left: 30px;
}

.grant-content * .progress {
    height: 10px;
    margin-bottom: 10px;
}

/*
 ------------------------------------------------------------------------------------------
                                    Detailed Grant Page
 ------------------------------------------------------------------------------------------
 */

.editable {
  border:none;
  outline: 0;
}

#myModalLabel, #modalHeader > input:focus, #cardGenTitle, #cardGenTitle > input:focus {
  border:none;
  outline: 0;
  font-size: 36px !important;
  height: 100%;
  box-shadow: none;
  color: #a30046;
}

.delete-buttons {
  text-align: center;
}

.modal {
  padding-bottom: 5em;
  text-align: center;
}

.modal-footer > div {
  float: none;
  overflow: hidden;
  margin-right: 10px;
}

#cardGenCreate, .card-open-link, .card-delete {
  float: right;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.container > .progress {
    position: relative;
    top: 2em;
    height: 1.3em;
}

.asu-progressbar {
    background-color: #FFB204 !important;
    color: #a30046;
    text-shadow: 0 1px 0px rgba(0,0,0,0.9);
}

.vert-panels.three-set > div {
    text-align: center;
    width: 30%;
    border-top: 8px solid #a30046 !important;
    border: 1px solid #e9e9e9;
    display: inline-block;
    margin: 50px 1.52% 0 1.52%;
    padding: 15px;
    z-index: 50;
}

.detail-cards > div  {
    width: 30%;
    position: relative;
    margin: 5px 1.52% 0 1.52%;
    float: left;
}

.detail-card {
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
  text-align: center;
  color: #000000;
  margin: 5px 0 5px 0;
  background-color: #67ed64;
}

.card-icons {
    margin: 0 5px;
}

.detail-card-placeholder {
    border: 1px dotted black;
    margin: 2px;
    margin-bottom: 5px;
    height: 100%;
}


/*
 ------------------------------------------------------------------------------------------
                                      Sidebar and Content
 ------------------------------------------------------------------------------------------
 */

#sidebar {
    z-index: 70;
    position: fixed;
    width: 20%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #404040;
    min-width: 170px;
    padding-bottom: 220px;
    transition: all 0.5s ease;
}

#sidebar.toggled {
    width: 0%;
    min-width: 0;
    transition: width 0.5s ease;
}

#contentview {
    width: 78%;
    position: relative;
    margin-top: -20px;
    margin-left: 22%;
    transition: all 0.5s ease;
}

#contentview.toggled {
    width: 98%;
    margin-left: 2%;
    margin-right: 0px;
}

.sidebar-nav {
    width: 300px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    background-color: #404040;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #EDEDED; /* white */
    transition: all 0.3s ease-in-out 0s;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active {
    text-decoration: none;
    color: #FFB204;
    background-color: #000000;
}

#menu-toggle {
    color: #A30046;
    transition: all 0.5s ease 0s;
    padding: 20px 0 0 10px;
    z-index: 500;
}

#menu-toggle:hover {
    color: #FFB204;
}

#menu-toggle.toggled {
    margin-left: 20%;
    padding: 20px 10px 0 0;
    color: #FFB204;
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/*
 ------------------------------------------------------------------------------------------
                                      About Page
 ------------------------------------------------------------------------------------------
 */

#about * #hero {

}

#hero * h2 {
    color: #8C1D40;
}

/* 
 ------------------------------------------------------------------------------------------
                                      Admin Page
 ------------------------------------------------------------------------------------------
 */

/* single line styling to prevent wrap by adding ellipses */
.overflow-ellipses {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

#pendingUsers * img, #inactiveUsers * img {
    max-width: 50px;
}

@media (min-width: 990px) {
  #pendingUsers * img, #inactiveUsers * img {
      max-width: 33px;
  }
}

@media (min-width: 1100px) {
  #pendingUsers * img, #inactiveUsers * img {
      max-width: 50px;
  }
}
