{{#each toDo}}
  <div class="modal fade currentCard" id="{{_id}}" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title">
            <form id="modalHeader">
              <input class="form-control card-title" id="myModalLabel" value="{{title}}" placeholder="Enter a title here!">
            </form>
          </div>
        </div>
        <div class="modal-body">
          <div class="editable card-notes">
            {{{notes}}}
          </div>
        </div>
        <div class="modal-footer">
          <p>Lasted Edited: {{timeLastEdit}}</p>
          <a class="btn btn-primary card-delete" data-toggle="modal" data-target="#modalDelete">Delete</a>
          <a class="btn btn-gold card-open-link" target="_blank" href="{{documentUrl}}">Open Document</a>
          <div>
            <form>
              <input class="form-control card-doc-link" placeholder="Enter a document link here!" value="{{documentUrl}}">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}

{{#each inProgress}}
  <div class="modal fade currentCard" id="{{_id}}" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title">
            <form id="modalHeader">
              <input class="form-control card-title" id="myModalLabel" value="{{title}}" placeholder="Enter a title here!">
            </form>
          </div>
        </div>
        <div class="modal-body">
          <div class="editable card-notes">
            {{{notes}}}
          </div>
        </div>
        <div class="modal-footer">
          <p>Lasted Edited: {{timeLastEdit}}</p>
          <a class="btn btn-primary card-delete" data-toggle="modal" data-target="#modalDelete">Delete</a>
          <a class="btn btn-gold card-open-link" target="_blank" href="{{documentUrl}}">Open Document</a>
          <div>
            <form>
              <input class="form-control card-doc-link" placeholder="Enter a document link here!" value="{{documentUrl}}">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}

{{#each complete}}
  <div class="modal fade currentCard" id="{{_id}}" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title">
            <form id="modalHeader">
              <input class="form-control card-title" id="myModalLabel" value="{{title}}" placeholder="Enter a title here!">
            </form>
          </div>
        </div>
        <div class="modal-body">
          <div class="editable card-notes">
            {{{notes}}}
          </div>
        </div>
        <div class="modal-footer">
          <p>Lasted Edited: {{timeLastEdit}}</p>
          <a class="btn btn-primary card-delete" data-toggle="modal" data-target="#modalDelete">Delete</a>
          <a class="btn btn-gold card-open-link" target="_blank" href="{{documentUrl}}">Open Document</a>
          <div>
            <form>
              <input class="form-control card-doc-link" placeholder="Enter a document link here!" value="{{documentUrl}}">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}
