<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kanbosal</title>

  <!-- css libraries -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <!-- local stylesheets -->
  <link rel="stylesheet" type="text/css" href="/css/styles.css">

  <!-- js libraries -->
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <script src="/javascript/handlebars-v4.0.4.js"></script>

</head>
<body>

  <div id="wrapper">
    <!-- nav here if needed -->
    <div id="content">
      <div id="sidebar" class="toggled"></div>
      <div id="menu-toggle" class="glyphicon glyphicon-menu-right large"></div>
      <div id="contentview" class="container-fluid toggled"> <!-- compile templates to this ID (if single page app, otherwise, just copy this document) -->
        <!-- main content in container-fluid class -->
      </div>
    </div>
    <footer></footer>
  </div>

  <!-- local scripts -->
  <script src="/javascript/sidebar.js"></script>
  <script src="/javascript/footer.js"></script>

</body>
</html>