<div class="col-xs-4 col-xs-height">
  <div class="tab-top inside-full-height">
    <div class="column">
      <h4>
        To Do
        <a data-toggle="modal" data-target="#cardGen"><span class="fa fa-plus-square pull-right" data-toggle="tooltip" data-placement="left" title="New Card"></span></a>
      </h4>
      {{#each toDo}}
        <div class="portlet panel panel-default">
          <div class="portlet-header panel-heading" data-toggle="modal" data-target="#{{_id}}" id="detail-card">
            {{#if moveBack}}
              {{#compare moveBack ">" 0}}
                <a id="preventPropagation" onclick="moveCardColumn('{{_id}}', '{{moveBack}}')"><span class="fa fa-backward pull-left" data-toggle="tooltip" data-placement="left" title="Needs Work"></span></a>
              {{/compare}}
            {{/if}}
            <h3 class="panel-title">{{title}}</h3>
          </div>
          <div class="portlet-content panel-body">
            <a target="_blank" href="{{documentUrl}}" class="fa fa-file card-icons pull-left"></a>
            {{#compare tags.length "<=" 2}}
              {{#each tags}}
                <span class="label label-success card-icons card-tag">{{this}}</span>
              {{/each}}
            {{else}}
              <small class="pull-left card-tag-badge"><a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="{{#each tags}}<span class=&quot;label label-primary card-icons card-tag&quot;>{{this}}</span></br>{{/each}}"><span class="label label-success label-as-badge">{{tags.length}} Tags</span></a></small>
            {{/compare}}
            {{#compare userIds.length "<" 3}}
              {{#each userIds}}
                <img class="pull-right card-icons user-img-sml img-circle" data-toggle="tooltip" title="{{name}}" src="{{imageUrl}}">
              {{/each}}
            {{else}}
              <small class="pull-right card-tag-badge"><a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="{{#each userIds}}<img class=&quot;pull-left card-icons user-img-sml img-circle&quot; src=&quot;{{imageUrl}}&quot;>{{name}}{{/each}}"><span class="label label-primary label-as-badge">{{userIds.length}} Users</span></a></small>
            {{/compare}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="col-xs-4 col-xs-height">
  <div class="tab-top inside-full-height">
    <div class="column">
      <h4>
        In Progress
      </h4>
      {{#each inProgress}}
        <div class="portlet panel panel-default">
          <div class="portlet-header panel-heading" data-toggle="modal" data-target="#{{_id}}" id="detail-card">
            <h3 class="panel-title">{{title}}</h3>
          </div>
          <div class="portlet-content panel-body">
            <a target="_blank" href="{{documentUrl}}" class="fa fa-file card-icons pull-left"></a>
            {{#compare tags.length "<=" 2}}
              {{#each tags}}
                <span class="label label-success card-icons card-tag">{{this}}</span>
              {{/each}}
            {{else}}
              <small class="pull-left card-tag-badge"><a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="{{#each tags}}<span class=&quot;label label-primary card-icons card-tag&quot;>{{this}}</span></br>{{/each}}"><span class="label label-success label-as-badge">{{tags.length}} Tags</span></a></small>
            {{/compare}}
            {{#compare userIds.length "<" 3}}
              {{#each userIds}}
                <img class="pull-right card-icons user-img-sml img-circle" data-toggle="tooltip" title="{{name}}" src="{{imageUrl}}">
              {{/each}}
            {{else}}
              <small class="pull-right card-tag-badge"><a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="{{#each userIds}}<img class=&quot;pull-left card-icons user-img-sml img-circle&quot; src=&quot;{{imageUrl}}&quot;>{{name}}{{/each}}"><span class="label label-primary label-as-badge">{{userIds.length}} Users</span></a></small>
            {{/compare}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="col-xs-4 col-xs-height">
  <div class="tab-top inside-full-height">
    <div class="column">
      <h4>
        Complete
      </h4>
      {{#each complete}}
        <div class="portlet panel panel-default">
          <div class="portlet-header panel-heading" data-toggle="modal" data-target="#{{_id}}" id="detail-card">
            {{#if moveForward}}
              {{#compare moveForward "<" 3}}
                <a id="preventPropagation" onclick="moveCardColumn('{{_id}}', '{{moveForward}}')"><span class="fa fa-forward pull-right" data-toggle="tooltip" data-placement="left" title="Approve"></span></a>
              {{/compare}}
            {{/if}}
            <h3 class="panel-title">{{title}}</h3>
          </div>
          <div class="portlet-content panel-body">
            <a target="_blank" href="{{documentUrl}}" class="fa fa-file card-icons pull-left"></a>
            {{#compare tags.length "<=" 2}}
              {{#each tags}}
                <span class="label label-success card-icons card-tag">{{this}}</span>
              {{/each}}
            {{else}}
              <small class="pull-left card-tag-badge"><a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="right" data-content="{{#each tags}}<span class=&quot;label label-primary card-icons card-tag&quot;>{{this}}</span></br>{{/each}}"><span class="label label-success label-as-badge">{{tags.length}} Tags</span></a></small>
            {{/compare}}
            {{#compare userIds.length "<" 3}}
              {{#each userIds}}
                <img class="pull-right card-icons user-img-sml img-circle" data-toggle="tooltip" title="{{name}}" src="{{imageUrl}}">
              {{/each}}
            {{else}}
              <small class="pull-right card-tag-badge"><a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-placement="left" data-content="{{#each userIds}}<img class=&quot;pull-left card-icons user-img-sml img-circle&quot; src=&quot;{{imageUrl}}&quot;>{{name}}{{/each}}"><span class="label label-primary label-as-badge">{{userIds.length}} Users</span></a></small>
            {{/compare}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
