<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a id="brand" class="navbar-brand" href="overview">ASU Grant Kanbosal</a>
  </div>
  <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">
          <img src="/resources/square-facebook-64.png" class="img-circle"> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="account"><i class="fa fa-fw fa-cog"></i> Account</a></li>
          <li><a href="#" onclick="signOut();"><i class="fa fa-fw fa-sign-out"></i> Sign-out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
