{{#if grant}}
  {{#each grant}}
  <div class="grant-panel tab-left">
    <div>
      <div class="grant-info">
        <a href="detail/{{_id}}" title="{{title}}">{{title}}</a><br>
        {{#if url}}
        <small><small><strong><a href="{{url}}" target="_blank">View Official Grant</a></strong></small></small>
        {{/if}}
      </div>
      <div class="grant-content">
        {{!-- since each grant will for sure have a stage, even if no cards, check not needed --}}
        {{#each stages}}
        <div class="col-xs-3">
          <div>
            {{#compare @index "<=" 2}}
            {{#compare (math complete.length "+" (math inProgress.length "+" toDo.length)) "===" 0}}
            <div class="progress" data-toggle="tooltip" data-placement="top" title="{{math complete.length "+" (math inProgress.length "+" toDo.length)}} items">
            {{/compare}}
            {{#compare (math complete.length "+" (math inProgress.length "+" toDo.length)) "!=" 0}}
            <div class="progress">
            {{/compare}}
              <div class="progress-bar progress-bar-warning" style="width:{{math (math toDo.length "/" (math complete.length "+" (math inProgress.length "+" toDo.length))) "*" 100}}%" data-toggle="tooltip" data-placement="top" title="{{toDo.length}} of {{math complete.length "+" (math inProgress.length "+" toDo.length)}} not yet started">
                {{!-- <span class="sr-only">{{math (math toDo.length "/" (math complete.length "+" (math inProgress.length "+" toDo.length))) "*" 100}}%</span> --}}
              </div>
              <div class="progress-bar progress-bar-info" style="width:{{math (math inProgress.length "/" (math complete.length "+" (math inProgress.length "+" toDo.length))) "*" 100}}%" data-toggle="tooltip" data-placement="top" title="{{inProgress.length}} of {{math complete.length "+" (math inProgress.length "+" toDo.length)}} in progress">
                {{!-- <span class="sr-only">{{math (math inProgress.length "/" (math complete.length "+" (math inProgress.length "+" toDo.length))) "*" 100}}%</span> --}}
              </div>
              <div class="progress-bar progress-bar-success" style="width:{{math (math complete.length "/" (math complete.length "+" (math inProgress.length "+" toDo.length))) "*" 100}}%" data-toggle="tooltip" data-placement="top" title="{{complete.length}} of {{math complete.length "+" (math inProgress.length "+" toDo.length)}} completed">
                {{!-- <span class="sr-only">{{math (math complete.length "/" (math complete.length "+" (math inProgress.length "+" toDo.length))) "*" 100}}%</span> --}}
              </div>
            </div>
            {{/compare}}
            {{#compare @index "===" 3}}
            <div class="progress" data-toggle="tooltip" data-placement="top" title="Complete: {{cards.length}} of {{../cardCount}}">
              <div class="progress-bar progress-bar-success" style="width:{{math (math cards.length "/" ../cardCount) "*" 100}}%">
                <span class="sr-only">{{math cards.length "/" ../cardCount}}%</span>
              </div>
            </div>
            {{/compare}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{/each}}
{{/if}}
