body
    h1= collection
    #documents
        table(border=1)
          if documents.length > 0
              - each val, key in documents[0]
                  th= key 
          - each doc in documents
            tr.doc
              - each val, key in doc
                td.key= val
                