{{#if Grant_Columns}}
  {{#each Grant_Columns}}
    {{#if Cards}}
      {{#each Cards}}
      <div class="modal fade" id="{{Modal_ID}}" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="modal-title">
                <form id="modalHeader">
                  <input class="form-control" id="myModalLabel" value="{{Card_Name}}" placeholder="Enter a title here!">
                </form>
              </div>
            </div>
            <div class="modal-body">
              <div class="editable">
                {{{Modal_Body}}}
              </div>
            </div>
            <div class="modal-footer">
              <a type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</a>
              <a type="button" class="btn btn-primary" target="_blank" href="{{Document_Link}}">Open Document</a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    {{/if}}
  {{/each}}
{{/if}}
